<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:500px">
  <h1>Colonization In Africa</h1>
  <p>
    Beginning in the 1600s, many Europeans began to colonize sections of Africa for resources and labor. This colonization began to threaten the native African people as they were forced into labor and shipped out for slavery. Colonization went on for centuries until the early 1900s when it began to cease.
  </p>
  <h3>Crimes against Humanity</h3>
  <p>
    Many of these European countries treated the countries badly and harshly ruled their countries. These crimes included mass Genocide, racial profiling among others.
  </p>
</div>
