<h2>Colonel Joseph Mobutu Cold War Politics</h2>
<img src="https://s-media-cache-ak0.pinimg.com/236x/8f/54/62/8f54620275eb0a9ddcf94a8a462703fc.jpg" style="float:right;width:190px;"  />
<p>
  Joseph Mobutu was president of Zaire, which is now the democratic republic of Congo. Joseph Mobutu issued all soviets out of Africa. This policy conformed with the ideas of the United States and he was strongly anti communist. This led to tensions between him and the Soviet Union, however this resulted in good relations with the United State. He had a good relationship with George H. W. Bush and Reagan while they were in office and pushed for many anti-communist policies.
</p>
