<h2>Colonel Joseph Mobutu Cold War Politics</h2>
<img src="https://s-media-cache-ak0.pinimg.com/236x/8f/54/62/8f54620275eb0a9ddcf94a8a462703fc.jpg" style="float:right;width:190px;"  />
<p>
  During this time of finally being independent, the continent as a whole tried to unite. The only issue was they had no official government and so many different people tried to take power. When issues involving government and who will take over started to arise, the Soviet Union came into Africa giving countries money to help their bad economy. They thought if they did this, the countries the Soviet Union were funding, would become communists. The dictators at this time, didn't like the idea because it would take away their power. The US helped out the dictators. These two different ideas caused more tensions among the continent.
</p>
