<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:500px">
  <h1>Decolonization</h1>
  <p>
    During the early 1900s, the European countries did not have the financial backing to support their colonies due to WWI. This forced many European countries to let the colonies be free once again. This release of power was both good and bad for the people of Africa as we will see in the coming sections.
  <h3>Aftermath</h3>
  <p>
    Once the Europeans left Africa, the impacts of the unsustainable farming and economies began to show. People could not plant food on their land as it became unusable and many of the economies began to collapse.
  </p>
</div>
