<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:500px">
  <h1>Desertification</h1>
  <p>
    One of the effects that the Europeans had was desertification. Desertification is the spread of the desert in Africa. This was caused by the unsustainable slash and burn techniques that they used to plant food and crops. When not maintained, these fields dried out and began to become desert. This and global warming led to the rise of desertification in Africa and influenced the economy.
  </p>
  <img src="http://earthobservatory.nasa.gov/Features/Desertification/Images/senegal_dry_wet_540.jpg" />
</div>
