<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:500px">
  <H1>Colonization</H1>
  <p>Beginning in the 1600s many European countries began to colonize sections of Africa for resources and labor. This colonization began to threaten the native African people as they were forced into labor and shipped out for slavery. This went on for centuries until the early 1900s.</p>
  <h2>Crimes against Humanity</h2>
  <p>Many of these European countries treated the countries badly and harshly ruled their countries. These crimes included mass Genocide, racial profiling among others.
</p>
<h1>Decolonization</h1>
<p>During the early 1900s the European countries did not have the financial backing to support their colonies due to WWI. This forced many European countries to let the colonies be free once again. This release of power was both good and bad for the people of Africa as we will see in the coming sections. </p>
<h2>Aftermath</h2>
<p>Once the Europeans left Africa the impacts of the unsustainable farming and economies began to show. People could not plant food on their land as it became unusable and many of the economies began to collapse.</h2>
<h2>Desertification</h2>
<p>One of the effects that the Europeans had was desertification. Desertification is the spread of the desert in Africa. This was caused by the unsustainable slash and burn techniques that they used to plant food and crops. When not maintained, these fields dried out and began to become desert. This and global warming led to the rise of desertification in Africa and influenced the economy.</p>
<h1>Africa’s Economy</h1>
<h2>The Aftermath of the Europeans</h2>
<p>After the Europeans left the African people were left with land they could not farm and economies that they could not upkeep. This led to the eventual fall of Africa’s Economy and the collapse of some governments.</p>
</div>
