<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:500px">
  <h1>African People</h1>
  <p>
    The African people are one of the most diverse groups of people on Earth with 3,000 distinct ethnic groups. Throughout Africa’s history the African people have been oppressed and discriminated against. Africa is currently experiencing a resurgence of culture and economy as the people go back to their roots.
  </p>
  <h2>Culture</h2>
  <p>
    Africa is very diverse and has many different tribes, cultures and denominations. These people all share different ideas and developed largely separately before the Europeans took control. Each country in Africa has it’s own religion, culture and customs along with their own unique stories.
  </p>
</div>
