<h2>Angolan Civil War</h2>
<p>
  The Soviet Union wanted Communism while the United States did not. The Soviet Union would often fund African revolutions in attempts to influence them to become Communism. The U.S. funded the existing governments and pro-capitalists in an attempt to keep communism out and good relations with the region. This resulted in the Angolan Civil war, which was an example of the issues between the U.S. funding one group, and the Soviet Union funding the other both trying to influence political systems.
</p>
