<h2>Rivalry in the Horn of Africa</h2>
<p>
  The two world powers of the Soviet Union and the United States invaded the horn of Africa with their different political ideas and money. Some people liked the idea of communism while others didn’t. This rivalry was mainly between the countries of Somalia and Ethiopia. Ethiopia had a ruler named Haile Selassie, Selassie was a powerful dictator that had a good stage on the political side, but he could not provide for his people. There was a revolution that occurred in ethiopia, but it soon took a Soviet turn and communist ties began to form. In somalia the government was taken over by the socialist leader Siad Barre, who had connections with the Soviet Union. This was the first of many rivalries in Africa between these powers.
</p>
