<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:500px">
  <div class="row">
    <h1 style="float:left;">Simulation</h1>
    <div class="rounded-button" style="float:right; width:100px;" ng-click="next()" ng-show="shownext">
      <div class="display" style="margin-top:0;">
        Next Page
      </div>
    </div>
    <p ng-hide="shownext" style="float:right;text-align:center;margin-top:20px;">
      {{timercount}} <br/>
      {{user.name}}
    </p>
  </div>
  <div ui-view></div>
</div>
