<img src="http://d75822.medialib.glogster.com/media/7f/7f1f810cce9d865ca86a198c198cb93d5269ab98772b7f0b1187944f4b3b354a/hutu-jpg.jpg" style="float:right; width:400px;"  />
<h2>You are a Hutu</h2>
<p>
  You are now the ruling party of Rwanda. The Europeans believed that the Tutsis were the natural leaders, but after the Europeans left, you, the hutus, have since taken over the goverment and started a campaign to eliminate Tutsis. You believe that the now poor Tutsi population is to blame for all the economic problems. This means that all the Tutsi people need to be exterminated. Your leaders have hired assassins and military people to kill all Tutsis. If you oppose this movement you will be killed by your Hutu leaders.
</p>
