<img src="http://d75822.medialib.glogster.com/media/7f/7f1f810cce9d865ca86a198c198cb93d5269ab98772b7f0b1187944f4b3b354a/hutu-jpg.jpg" style="float:right; width:400px;"  />
<h2>You are a Hutu</h2>
<p>
  You are now the ruling party of Rwanda. Due to the support of the European leadership during colonial times, you have risen to power in Rwanda. You believe that the poor Tutsi population is to blame for all the economic problems. This means that all the Tutsi people need to be exterminated. Your leaders have hired assassins and military people to kill all Tutsis. If you oppose this movement you will be killed by your leaders.
</p>
