<h2>History</h2>
<p>
  When the Europeans arrived in the area soon to be called Rwanda, they separated it's people into groups. The group that they thought were the natural leaders were the Hutus. Therefore, the europeans put the Hutus in power of the puppet government. To keep the distinction, all people in Rwanda were given ID cards with their group listed on it. This later came back to bite the people of Rwanda, as it made the future genocide possible. When the Europeans left during decolonization, the systems they set up and the racial tensions boiled over in the Rwandan Genocide.
</p>
