<div style="position:absolute;top:15%;left:20%;z-index:3;max-width:800px">
  <h2>Sources</h2>
  <p>
    https://en.wikipedia.org/wiki/Category:Cold_War_in_Africa
    https://en.wikipedia.org/wiki/Category:Communism_in_Africa
    http://www.bbc.co.uk/worldservice/africa/features/storyofafrica/12chapter8.shtml
    http://www.history.com/topics/rwandan-genocide
    http://www.historyworld.net/wrldhis/PlainTextHistories.asp?historyid=ad24
    http://www.blackpast.org/gah/angolan-civil-war-1975-2002
    http://www.uneca.org/es-blog/moving-early-pan-africanism-towards-african-renaissance
    http://www.britannica.com/topic/Pan-Africanism
    http://www.sras.org/the_soviet_union_in_angola
    http://www.globalpost.com/dispatch/news/regions/africa/nigeria/140220/nigeria-religious-ethnic-conflict-roots
    http://content.time.com/time/world/article/0,8599,1971010,00.html
    http://www.unitedhumanrights.org/genocide/genocide_in_rwanda.htm
    http://www.pbs.org/wgbh/pages/frontline/shows/rwanda/etc/cron.html
    http://www.biography.com/people/mobutu-s%C3%A9s%C3%A9-seko-9410874
    http://exhibitions.nypl.org/africanaage/essay-colonization-of-africa.html<br />
    Textbook pages 686-692
  </p>
</div>
