<h2>Apartheid</h2>
<img src="http://oldnews.aadl.org/files/imagecache/800_width/photos/N123_0150_001.jpg"style="width:250px;float:right;" />
<p>
  Apartheid was a systematic segregation of blacks and whites in South Africa. This segregation began with the colonization of South Africa. The white settlers did not like the natives and over time this became a racist stigma. This soon manifested itself as the mainly white controlled government began to ban interracial activities and facilities in South Africa. Apartheid lasted from the 1948 until 1994 when it was finally banned. During this time many anti-apartheid leaders like Nelson Mandela were imprisoned and prosecuted for their efforts against apartheid.
</p>
